.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 400px 200px;
    gap: 2px;
    grid-template-areas:
        "hd"
        "sd"
        "main"
        "ft";
    border: 4px solid darkred;
}

.box {
    border: 1px solid darkred;
    background: #c6c6bf;
}

.header {
    grid-area: hd;
    display: flex;
    justify-content: center;
    color: darkred;
    background-color:azure;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.footer {
    grid-area: ft;
    background-color: azure;
    display: flex;
    justify-content: center;
}

.sidebar {
    grid-area: sd;
}

.content {
    grid-area: main;
    background-image: url("../images/desk.jpg");
    background-size:cover;
}

.image {
    width: 200px;
    height: 200px;
}

.footer2 {
    grid-area: ft;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.authorinfo {
    color:darkred
}
@media(min-width:900px) {
    .container {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 150px 600px 150px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "sd sd main main main main main main"
            "ft ft ft ft ft ft ft ft";
        border: 4px solid rgb(226, 226, 215);
    }
}